<a href="https://colab.research.google.com/github/IsaacE222/Isaac/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
r=3
h=10
pi=3.14
SA=(2*pi*r**2)+(2*pi*r*h)
print(SA)

244.92000000000002

In [ ]:
player_1 = input('Player 1 choose (Rock, Paper, or Scissors): ')
player_2 = input('Player 2 choose (Rock, Paper, or Scissors): ')

if player_1 == player_2:
  print('Tie')
elif ((player_1 == 'Rock' and player_2 == 'Scissors') or (player_1 == 'Paper' and player_2 == 'Rock')or (player_1 == 'Scissors' and player_2 == 'Paper')):
  print('player_1 Wins')
else:
  print('player_2 Wins')

Player 1 choose (Rock, Paper, or Scissors): Scissors
Player 2 choose (Rock, Paper, or Scissors): Rock
player_2 Wins

In [ ]:
n1 = float(input("Enter #: "))
n2 = float(input("Enter #: "))
symbol = input("Choose op: ")

if symbol == '+':
  Answer = n1 + n2
elif symbol == '-':
  Answer = n1 - n2
elif symbol == '/':
  Answer = n1/n2
elif symbol == '*':
  Answer = n1*n2
else:
  Answer = n1**n2

print(Answer)

Enter #: 2
Enter #: 3
Choose op: **
8.0

In [ ]:
flat = 5

for t in range (1,9):
  charge = flat + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [3]:
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

for ad in range(0,201,25):
  profit = 10*(standardAttendees + 2 * round(ad ** 0.5,1)) - fixedCost - ad
  print(ad,profit)

0 0.0
25 75.0
50 92.0
75 99.0
100 100.0
125 99.0
150 94.0
175 89.0
200 82.0

In [5]:
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

ad = 0
while ad < 201:
  profit = 10 * (standardAttendees + 2 * round(ad ** 0.5)) - fixedCost - ad
  ad = ad + 25
  print(ad, profit)

25 0
50 75
75 90
100 105
125 100
150 95
175 90
200 85
225 80