<a href="https://colab.research.google.com/github/IsaacE222/Isaac/blob/main/In_Class_Assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Shape Area Calculation

In [ ]:
r=3
h=10
pi=3.14
SA=(2*pi*r**2)+(2*pi*r*h)
print(SA)

244.92000000000002

Rock, Paper, Scissors

In [ ]:
c = input('Would you like to play?')

while c == 'Yes':
  player_1 = input('Player 1 choose (Rock, Paper, or Scissors): ')
  player_2 = input('Player 2 choose (Rock, Paper, or Scissors): ')

  if player_1 == player_2:
    print('Tie')
  elif ((player_1 == 'Rock' and player_2 == 'Scissors') or (player_1 == 'Paper' and player_2 == 'Rock')or (player_1 == 'Scissors' and player_2 == 'Paper')):
    print('player_1 Wins')
  else:
    print('player_2 Wins')
  c = input('Would you like to play again?')

Would you like to play?Yes
Player 1 choose (Rock, Paper, or Scissors): Rock
Player 2 choose (Rock, Paper, or Scissors): Rock
Tie
Would you like to play again?No

Numerical Calculator

In [ ]:
n1 = float(input("Enter #: "))
n2 = float(input("Enter #: "))
symbol = input("Choose op: ")

if symbol == '+':
  Answer = n1 + n2
elif symbol == '-':
  Answer = n1 - n2
elif symbol == '/':
  Answer = n1/n2
elif symbol == '*':
  Answer = n1*n2
else:
  Answer = n1**n2

print(Answer)

Enter #: 2
Enter #: 3
Choose op: **
8.0

Parking Garage

In [ ]:
flat = 5

for t in range (1,9):
  charge = flat + 2.5 * t
  if charge < 10:
    charge = 10
  elif charge > 20:
    charge = 20
  print(t, charge)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

Movie Theater

In [ ]:
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

for ad in range(0,201,25):
  profit = 10*(standardAttendees + 2 * round(ad ** 0.5,1)) - fixedCost - ad
  print(ad,profit)

0 0.0
25 75.0
50 92.0
75 99.0
100 100.0
125 99.0
150 94.0
175 89.0
200 82.0

In [ ]:
ticketPrice = 10
fixedCost = 200
standardAttendees = 20

ad = 0
while ad < 201:
  profit = 10 * (standardAttendees + 2 * round(ad ** 0.5)) - fixedCost - ad
  ad = ad + 25
  print(ad, profit)

25 0
50 75
75 90
100 105
125 100
150 95
175 90
200 85
225 80

In [ ]:
L = []

item = int(input('Give a value: '))
while item !=0:
  L.append(item)
  item = int(input('Give another value: '))
print(L)

In [ ]:
def rev(s):
  if len(s)==1:
    return s
  else:
    return s[-1] + rev(s[1:-1]) + s[0]

rev('Hello')

In [ ]:
months= {}

names= ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]
numbers = [1,2,3,4,5,6,7,8,9,10,11,12]

for i in range(len(numbers)):
  months[i+1]=names[i]
months

{1: 'Jan',
 2: 'Feb',
 3: 'Mar',
 4: 'Apr',
 5: 'May',
 6: 'Jun',
 7: 'Jul',
 8: 'Aug',
 9: 'Sep',
 10: 'Oct',
 11: 'Nov',
 12: 'Dec'}

In [ ]:
def calcFee(hours, decimals=2):
  fee = round (5 + hours * 2.5, decimals)
  return fee
def displayFee(fee):
  print(fee)
hours_parked= int(input('Enter Hours Parked:'))
f = calcFee(hours_parked)
displayFee(f)

Enter Hours Parked:10
30.0

In [ ]:
def reverse(string):
    if len(string) == 1:
        return string
    else:
        return reverse(string[1:])+string[0]
print(reverse('Hello'))

olleH

In [ ]:
def rev(s):
  if len(s)==1:
    return s
  else:
    return rev(s[1:])+s[0]
rev('Halloween')

'neewollaH'

In [ ]:
def quickSort(L):
  if len(L)<2:
    return L
  else:
    pivot= L[len(L)//2]
    less=[]
    equal=[]
    larger=[]
    for el in L:
      if el<pivot:
        less.append(el)
      elif el==pivot:
        equal.append(el)
      else:
        larger.append(el)
    return quickSort(less)+equal+quickSort(larger)
    pivot=...
    less=[]
    equal=[]
    larger=[]
    for el in L:
      if el<pivot:
        less.append(el)
      elif el==pivot:
        equal.append(el)
      else:
        larger.append(el)
    return quickSort(less)+equal+quickSort(larger)
print(quickSort([8,2,6,9,1,0]))

[0, 1, 2, 6, 8, 9]

In [ ]:
def wAvg(L,w):
  if sum(w) != 1:
    w= [weight/sum(w) for weight in w]
    weighted_average = sum([L[i]*w[i] for i in range(len(L))])
  return weighted_average
L=[1,2,3]
w=[.1,.3,.4]
print(wAvg(L,w))

2.375

In [ ]:
def wAvg(L,w):
  res=[]
  try:
    for i in range(len(L)):
      res.append(L[i]*w[i])
    return sum(res)/sum(w)
  except ZeroDivisionError:
    print("Division by zero")
    return []
  except TypeError:
    print("Non-numerical objects found")
    return []
  except Exception as e:
    print(f'Unknown Error: (e)')
    return float('nan')

wAvg([1,2,3],[.1,.3,.4])

2.375

In [ ]:
class Student:
    def __init__(self, name, number):
        self.name = name
        self.number = number

    def __repr__(self):
        return f'Name: {self.name}'
student1 = Student("James Bond", "007")
student2 = Student("Clark Kent", "333")

print(student1.name)
print(student2.name)

James Bond
Clark Kent

In [ ]:
print(student1)

Name: James Bond

In [ ]:
class Student:
    def __init__(self, name, number):
        self.name = name
        self.number = number
        self.courses = []
    def enroll(self, course):
      if course not in self.courses:
        self.courses.append(course)
      else:
        print(f'You have already enrolled in {course}')
    def get_courses(self):
      return self.courses

In [ ]:
s=Student('bob','123')
s.enroll('ABC123')
s.enroll('ABC555')
s.enroll('ABC888')

s.get_courses()

['ABC123', 'ABC555', 'ABC888']

In [ ]:
def create_name(first,last):
  first=first.capitalize()
  last=last.capitalize()
  print(first +  " "  + last)
full_name = create_name('john' , 'smith')

John Smith